/* Estilos globales */
body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    overflow: hidden; /* Evita desplazamientos laterales */
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #141c3a;
    box-sizing: border-box;
    padding: 10px;
}

button {
    width: 100%; /* Ocupa el ancho completo del contenedor */
    max-width: 380px;
    height: 50px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
}

/* Estilos específicos de los botones */
#view-button {
    background-color: #6df0c2;
}

#close-button {
    display: none;
    background-color: #fd4d3f;
}

#codey {
    display: none;
    width: 80%; /* Se ajusta a 80% del ancho del contenedor */
    max-width: 200px;
    margin: 20px 0;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 480px) {
    button {
        font-size: 1em;
        height: 45px;
    }

    #codey {
        width: 70%;
        max-width: 150px;
    }
}
